<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic - Owners</title>
</head>
<body>
<h2 th:text="'List of Owners'">Owner Page</h2>

<table id="vets" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First name</th>
        <th style="width: 150px;">Last name</th>
    </tr>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}"></td>
        <td th:text="${owner.firstName}"></td>
        <td th:text="${owner.lastName}"></td>
    </tr>
</table>

</body>
</html>