version: 2.1

orbs:
  maven: circleci/maven@0.0.12

workflows:
  maven_test:
    jobs:
      - run: mvn install -DskipTests
      - run: mvn integration-test
      #- maven/test # checkout, build, test, and upload test results
