<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic - Vets</title>
</head>
<body>
<h1 th:text="'List of Vets'">Vets Page</h1>

<table id="vets" class="table table-striped">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First name</th>
        <th style="width: 150px;">Last name</th>
    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}"></td>
        <td th:text="${vet.firstName}"></td>
        <td th:text="${vet.lastName}"></td>

    </tr>
</table>
</body>
</html>